<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="All tests">
    <parameter name="platform" value="WIN10"></parameter>
    <parameter name="browser" value="firefox"></parameter>
    <parameter name="version" value="98"></parameter>
    <parameter name="url" value="https://newapp.workflowsoft.com/ru"></parameter>
    <parameter name="local" value="false"></parameter>
    <test name="Base tests" preserve-order="true" enabled="true">
        <classes>
            <class name="work.selenium.tests.LoginTest"></class>
            <class name="work.selenium.tests.TasksTest"></class>
        </classes>
    </test>
    <test name="Data tests" enabled="false">
        <classes>
            <class name="work.selenium.tests.DataLoginTest"></class>
        </classes>
    </test>
</suite>